<section class="clients">

  <h3 class="h3 clients-title">Clients</h3>

  <ul class="clients-list has-scrollbar">

    <li class="clients-item">
      <a href="#">
        <img src='/assets/images/logo-1-color.webp' alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <img src='/assets/images/logo-2-color.webp' alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <img src='/assets/images/logo-3-color.webp' alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <img src='/assets/images/logo-4-color.webp' alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <img src='/assets/images/logo-5-color.webp' alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <img src='/assets/images/logo-6-color.webp' alt="client logo">
      </a>
    </li>

  </ul>

</section>