---
import { Image } from 'astro:assets';
import designIcon from '../assets/images/icon-design.svg'
import devIcon from '../assets/images/icon-dev.svg'
import appIcon from '../assets/images/icon-app.svg'
import photoIcon from '../assets/images/icon-photo.svg'
---

<section class="service">
  <h3 class="h3 service-title">What i'm doing</h3>

  <ul class="service-list">
    <li class="service-item">
      <div class="service-icon-box">
        <Image src={designIcon} alt="design icon" width="40">
      </div>

      <div class="service-content-box">
        <h4 class="h4 service-item-title">Web design</h4>

        <p class="service-item-text">
          The most modern and high-quality design made at a professional level.
        </p>
      </div>
    </li>

    <li class="service-item">
      <div class="service-icon-box">
        <Image src={devIcon} alt="dev icon" width="40">
      </div>
      <div class="service-content-box">
        <h4 class="h4 service-item-title">Web development</h4>
        <p class="service-item-text">
          High-quality development of sites at the professional level.
        </p>
      </div>
    </li>

    <li class="service-item">
      <div class="service-icon-box">
        <Image src={appIcon} alt="app icon" width="40">
      </div>
      <div class="service-content-box">
        <h4 class="h4 service-item-title">Mobile apps</h4>
        <p class="service-item-text">
          Professional development of applications for iOS and Android.
        </p>
      </div>
    </li>

    <li class="service-item">
      <div class="service-icon-box">
        <Image src={photoIcon} alt="photo icon" width="40">
      </div>
      <div class="service-content-box">
        <h4 class="h4 service-item-title">Photography</h4>
        <p class="service-item-text">
          I make high-quality photos of any category at a professional level.
        </p>
      </div>
    </li>

  </ul>

  </section>