---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Aside from '../components/Aside';
import NavBar from '../components/NavBar';
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <main>
		<Aside/>
		<div class="main-content">
      <NavBar/>
			<slot/>	
		</div>
	</main>
		
	</body>
</html>
<script>
	// element toggle function
	const elementToggleFunc = function (elem) { elem.classList.toggle("active"); }

	// sidebar variables
	const sidebar = document.querySelector("[data-sidebar]");
	const sidebarBtn = document.querySelector("[data-sidebar-btn]");

	// sidebar toggle functionality for mobile
	sidebarBtn.addEventListener("click", function () { elementToggleFunc(sidebar); });
</script>
